body {
    margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #1e313e;
  padding: 10px;
}

.item {
  color: #efd3a2;
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
