body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #1e313e;
  padding: 10px;
}

.item {
  color: #efd3a2;
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-header {
  display: flex;
  justify-content: center;
}

.heading {
  text-transform: uppercase;
  color: #1e313e;
  font-size: 30px;
}
