body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #1e313e;
  padding: 10px;
}

.item {
  color: #efd3a2;
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-header {
  display: flex;
  justify-content: center;
}

.heading {
  text-transform: uppercase;
  color: #1e313e;
  font-size: 30px;
}

.section-about {
  display: flex;
  justify-content: space-around;
  background-color: #1e313e;
  padding: 60px;
}

.about-us {
  align-self: center;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.wrapper {
  display: flex;
  background-color: #1e313e;
  padding: 80px;
  color: #fff;
}

.reason-block {
  padding: 30px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

span {
  color: #1e313e;
  background-color: #bb8a5e;
  border-radius: 50px;
  font-size: 70px;
  margin: 40px;
  padding: 20px;
}

.services {
  display: flex;
  justify-content: center;
  background-color: #1e313e;
  padding: 60px;
}

.prices {
  display: flex;
  justify-content: center;
  background-color: #1e313e;
  font-size: 18px;
  padding: 10px;
  color: #fff;
}

.map {
  display: flex;
  justify-content: center;
  background-color: #1e313e;
  padding: 50px;
}

.footer-container {
  background-color: #1e313e;
  padding: 5px;
}

.footer {
  color: #efd3a2;
  font-size: 16px;
  text-transform: uppercase;
}

a {
  color: #efd3a2;
  text-decoration: none;
  font-size: 16px;
}

button {
  padding: 30px;
  margin: 10px;
  border-radius: 30px;
  background-color: #1e313e;
}
